.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  background-color: $grey;
}

.menu {
  grid-row: 1 / -1;
  grid-column: 1 / 3;
}

.content {
  grid-row: 2 / -1;
  grid-column: 3 / 13;
  height: auto;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
