* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: rgb(223, 224, 226);
  color: rgb(192, 186, 186);
}

li {
  list-style-type: none;
}

button,
input,
select {
  border: none;
  outline: none;
}
