.search {
  width: 90%;
  height: 90%;
  margin: 0.3rem auto;
  display: flex;
  align-items: center;

  &-input {
    height: 4rem;
    width: 90%;
    margin-right: -4rem;
    border: 1px solid rgba(255, 255, 255, 0.342);
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.062);
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
  }

  &-icon {
    height: 4rem;
    width: 4rem;
    z-index: 10;
    background-color: darken($blue, 9);
    padding: 1rem;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    border: none;

    img {
      height: 2rem;
      text-align: center;
      color: white;
    }
  }
}
