.list {
  color: black;
  font-size: 1.2rem;
  width: 100%;
  height: auto;

  caption {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

  thead th {
    font-size: 1.5rem;
    width: 10%;
  }

  th,
  td {
    padding: 20px;
    text-align: center;
  }
}

.worker-registry:hover {
  background-color: $blue;
  cursor: pointer;
}
