.title {
  font-size: 3.5rem;
  padding: 2rem;
  color: $grey;
  font-weight: 300;
}

.button {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  padding: 1.7rem 2.5rem;
  margin: 2rem auto;
  cursor: pointer;
  transition: transform 0.1s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.02);
  }

  h3 {
    font-size: 1.2rem;
    padding-right: 1.2rem;
    color: black;
    letter-spacing: 2px;
  }
  img {
    height: 1.5rem;
  }
}
