.content {
  padding: 4rem;
  background-color: rgb(255, 255, 255);

  .register {
    // background-color: darken($blue, 32%);

    .form {
      padding: 8rem 2rem;
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      background-color: darken($blue, 32%);
      width: 60%;
      border-radius: 0.4rem;

      .field {
        display: flex;
        flex-direction: column;
        margin: 2rem;

        label {
          font-size: 1.7rem;
          margin-bottom: 1rem;
        }

        input {
          border-radius: 0.8rem;
          padding: 0.8rem 2rem;
          color: rgb(53, 50, 50);
        }

        select {
          border-radius: 0.8rem;
          padding: 0.8rem 2rem;
          color: rgb(53, 50, 50);
        }
      }
      .button {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        padding: 1.7rem 2.5rem;
        margin: 1rem auto;
        cursor: pointer;

        h3 {
          font-size: 1.2rem;
          padding-right: 1.2rem;
          color: black;
          letter-spacing: 2px;
        }
        img {
          height: 1.5rem;
        }
      }
    }
  }
}
